server:
  port: 8088

spring:
  application:
    name: gateway-server

eureka:
  client:
    service-url:
      defaultZone: http://127.0.0.1:8761/eureka,http://127.0.0.1:8762/eureka

zuul:
  routes:
    wy:
      path: /user-service/**
#      url: http://127.0.0.1:8081
      serviceId: user-service

hystrix:
  command:
    default:
      execution:
        isolation:
          thread:
            timeoutInMilliseconds: 3000

ribbon:
  # 1秒连接报错
  ConnectionTimeOut: 1000
  # 2秒没返回值报错
  ReadTimeOut: 2000

